#cloud-config

network:
    version: 2
    ethernets:
        eth0:
            dhcp4: false
            dhcp6: false
            optional: true
            addresses:
                - '10.0.0.1/24'
    wifis:
        wlan0:
            dhcp4: true
            optional: true
            access-points:
                 "BearDen":
                      auth:
                        key-management: "psk"
                        password: "{{wifi_bearden_password}}"