# dhcpd.conf
#
# Configuration file for ISC dhcpd

# option definitions
option domain-name "{{dhcp_domain_name}}";

# do not attempt dns update when a lease is confirmed
ddns-update-style none;

# set this server as the authoritative server for this network
authoritative;

# subnet definition
# issue address from 10.0.0.1 to 10.0.0.10
subnet 10.0.0.0 netmask 255.255.255.0 {
    range 10.0.0.1 10.0.0.10;
    option subnet-mask 255.255.255.0;
    option domain-name-servers 1.1.1.1,8.8.8.8;
    option broadcast-address 10.0.0.255;
    option routers 10.0.0.1;
    default-lease-time 3600;
    max-lease-time 7200;
}
