# Enable IPv4 forwarding
net.ipv4.ip_forward = 1

# Enable net.bridge.bridge-nf-call-iptables for IPv4
net.bridge.bridge-nf-call-iptables = 1

# Enable net.bridge.bridge-nf-call-ip6tables for IPv6
net.bridge.bridge-nf-call-ip6tables = 1